body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formDiv{
  margin:5px;
}

.titleDiv {
  background-color: #4b61d1;
  margin: 0;
  display: flex;
  justify-content: center;
}

.personalDiv{
  display: flex;
  flex-direction: column;
}

.personalInput{
  margin:5px
}

.jobsDiv{
  display: flex;
  flex-direction: column;
}

.jobsInput{
  margin:5px
}

.educationDiv{
  display: flex;
  flex-direction: column;
}

.educationInput{
  margin:5px
}